h1{
    color: blue;
}
h2{
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    text-align: left;
}
img{
    border: 2px solid gray;
}
.delete{
    text-decoration-line: line-through;
}